{
   "templateName":"VPN10_",
   "templateDescription":"VPN10_",
   "templateType":"vpn-vedge",
   "deviceType":[
      "vedge-cloud"
   ],
   "templateMinVersion":"15.0.0",
   "templateDefinition":{
      "vpn-id":{
         "vipObjectType":"object",
         "vipType":"constant",
         "vipValue":0
      },
      "name":{
         "vipObjectType":"object",
         "vipType":"ignore",
         "vipVariableName":"vpn_name"
      },
      "ecmp-hash-key":{
         "layer4":{
            "vipObjectType":"object",
            "vipType":"ignore",
            "vipValue":"false",
            "vipVariableName":"vpn_layer4"
         }
      },
      "tcp-optimization":{
         "vipObjectType":"node-only",
         "vipType":"ignore",
         "vipValue":"false",
         "vipVariableName":"vpn_tcp_optimization"
      },
      "nat64-global":{
         "prefix":{
            "stateful":{
               
            }
         }
      },
      "nat64":{
         "v4":{
            "pool":{
               "vipType":"ignore",
               "vipValue":[
                  
               ],
               "vipObjectType":"tree",
               "vipPrimaryKey":[
                  "name"
               ]
            }
         }
      },
      "route-import":{
         "vipType":"ignore",
         "vipValue":[
            
         ],
         "vipObjectType":"tree",
         "vipPrimaryKey":[
            "protocol"
         ]
      },
      "route-export":{
         "vipType":"ignore",
         "vipValue":[
            
         ],
         "vipObjectType":"tree",
         "vipPrimaryKey":[
            "protocol"
         ]
      },
      "host":{
         "vipType":"ignore",
         "vipValue":[
            
         ],
         "vipObjectType":"tree",
         "vipPrimaryKey":[
            "hostname"
         ]
      },
      "service":{
         "vipType":"ignore",
         "vipValue":[
            
         ],
         "vipObjectType":"tree",
         "vipPrimaryKey":[
            "svc-type"
         ]
      },
      "ip":{
         "route":{
            "vipType":"constant",
            "vipValue":[
            {% for n in range(1,91) %}
               {
                  "prefix":{
                     "vipObjectType":"object",
                     "vipType":"variableName",
                     "vipValue":"",
                     "vipVariableName":"vpn10_ipv4_ip_prefix_{{n}}"
                  },
                  "vipOptional":true,
                  "next-hop":{
                     "vipType":"constant",
                     "vipValue":[
                        {
                           "address":{
                              "vipObjectType":"object",
                              "vipType":"variableName",
                              "vipValue":"",
                              "vipVariableName":"vpn10_next_hop_ip_address_{{n}}"
                           },
                           "distance":{
                              "vipObjectType":"object",
                              "vipType":"ignore",
                              "vipValue":1,
                              "vipVariableName":"vpn_next_hop_ip_distance_0"
                           },
                           "priority-order":[
                              "address",
                              "distance"
                           ]
                        }
                     ],
                     "vipObjectType":"tree",
                     "vipPrimaryKey":[
                        "address"
                     ]
                  },
                  "priority-order":[
                     "prefix",
                     "next-hop"
                  ]
	     {% if n < 90 %}
               },
	     {% else %}
	       }
         {% endif %}
	     {% endfor %}
            ],
            "vipObjectType":"tree",
            "vipPrimaryKey":[
               "prefix"
            ]
         },
         "gre-route":{
            
         },
         "ipsec-route":{
            
         },
         "service-route":{
            
         }
      },
      "ipv6":{
         
      },
      "omp":{
         "advertise":{
            "vipType":"ignore",
            "vipValue":[
               
            ],
            "vipObjectType":"tree",
            "vipPrimaryKey":[
               "protocol"
            ]
         },
         "ipv6-advertise":{
            "vipType":"ignore",
            "vipValue":[
               
            ],
            "vipObjectType":"tree",
            "vipPrimaryKey":[
               "protocol"
            ]
         }
      }
   },
   "factoryDefault":false
}
